.carousel .prev {
	display: none;
}

.carousel .slide:first-child {
	display: block;
}

.carousel .images {
	display: flex;
	justify-content: center;
}

.slide {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	margin: 0 auto;
	position: absolute;
}

.slide img {
	width: 500px;
	height: 300px;
	margin: 0 auto;
}

.slide.active {
	visibility: visible;
	opacity: 1;
	position: absolute;
}

.carousel {
	max-width: 500px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	border: 7px solid black;
	box-shadow: 0 0 50px 5px gray;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.7);
}

.carousel .arrow {
	position: absolute;
	top: 35%;
	z-index: 10;
	border: none;
	background: none;
	font-weight: 800;
	font-size: 50px;
	user-select: none;
	outline: none;
	color: white;
	text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 3px 3px 6px rgba(0,0,0,.5);
	cursor: pointer;
}

.carousel .arrow.prev {
	left: 0;
}

.carousel .arrow.next {
	right: 0;
}