.header {
	height: 60px;
	border-bottom: 2px solid black;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 18px;
	background: rgba(69, 73, 81, 0.9);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9000;
}

.full-menu {
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mobile-menu {
	display: none;
}

.header a {	
	text-decoration: none;
	color: white;
}

.header .item:hover {
	text-decoration: underline;
}

.header img {
	width: 60px;
	cursor: pointer;
}

.profile {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	background: rgba(0,0,0, 0.9);
	width: 100px;
	border: 1px gray solid;
	z-index: 100;
}

.item {
	color: white;
	text-shadow: 2px 2px 2px black;
	cursor: pointer;
	padding: 5px 15px;
}

.item:hover {
	background: blue;
}

.menu {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	height: 60px;
}

.menu li {
	position: relative;
	line-height: 0;
}

.menu li a, .menu li div {
	float: left;
	height: 25px;
	padding-top: 30px;
	color: white;
}

.menu li:hover > ul {
	display: block;
	visibility: visible;
	opacity: 1;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;    
	visibility: hidden;
	position: absolute;
	top: 50px;
	left: -5px;
	z-index: 1000;    
	border: 1px gray solid;
	background: rgba(0,0,0, 0.9);
	opacity: 0;
	transition: opacity 0.5s linear;
}

.menu ul a {    
	padding: 10px;
	height: 10px;
	height: auto;
	line-height: 1;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

.menu ul a:hover {
	background: linear-gradient(#04acec,  #0186ba);
	background: blue;
	text-decoration: underline;
}

.menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid black;
}

.menu ul li:first-child a:hover:after {
    border-bottom-color: blue; 
}