.header {
	height: 60px;
	border-bottom: 2px solid black;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 18px;
	background: rgba(69, 73, 81, 0.7);
}

.full-menu {
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mobile-menu {
	display: none;
}

.header a {	
	text-decoration: none;
	color: white;
}

.header .item:hover {
	text-decoration: underline;
}

.header img {
	width: 60px;
	cursor: pointer;
}

.profile {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	background: rgba(0,0,0, 0.9);
	width: 100px;
	border: 1px gray solid;
	z-index: 100;
}

.item {
	color: white;
	text-shadow: 2px 2px 2px black;
	cursor: pointer;
	padding: 5px 15px;
}

.item:hover {
	background: blue;
}
