@media only screen and (min-width: 1024px) {

} 

@media only screen and (max-width: 1024px) {
	.main-component .text {
		padding: 0 15px;
	}

	.main-component .gallery {
		justify-content: center;
	}

	.main-component .images .desc {
		width: 600px;
		margin-left: calc(50% - 300px);
	}

	.main-component .gallery .topic {
		margin: 15px;
	}

	.container.profile .testResult > p {
		width: 250px;
	}

}

@media only screen and (max-width: 768px) { 
	.main-component .carousel {
		height: 300px;
	}

	.main-component .slide img {
		height: 300px;
	}

	.main-component .images .desc {
		width: 400px;
		margin-left: calc(50% - 200px);

	}

	.container.login {
		width: 400px;
		margin-bottom: 20px;
	}

	.contacts h1 {
		padding: 0 15px;
	}

	.tests .container-form {
		align-items: flex-start;
	}

	.header .profile .dropdown-menu {
		width: 90px;
		left: -5px;
	}

	.container.fullTest .breadCrumbs ul li {
		min-width: 90px;
	}

	.profile .testResult > p {

	}
}

@media only screen and (max-width: 480px) {

	.main-component .carousel {
		display: none;
	}

	.header .mobile-menu {
	  	display:block;
	  	width:100%;
	  	height: 50px;
	  	padding-top: 5px;
	  	text-align:center;
		position: relative;
	  	margin:0 auto;
	 	z-index: 1000;
	}

	.mobile-menu ul {
		list-style-type:none;
	  	padding-left:0;
	  	text-align:center;
	  	width:100%;
	  	position: absolute;
	  	margin-top: 10px;

	}

	.mobile-menu li {
		display:inline-block;
		float: left;
		background: #353535;
		border-bottom: 1px solid #353535;
		padding: 0;
	}

	.mobile-menu li a {
		display:block;
		min-width:140px;
		text-align: center;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fff;
		text-transform:uppercase;
		background: gray;
		text-decoration: none;
	  	padding: 10px 0;  
	}

	.mobile-menu li ul {
		display: none;
	}

	.mobile-menu li ul li {
		display: block;
	}

	.mobile-menu .show-menu {
		margin: 10px 15px;
		width: 35px;
		height: 25px;
	}

	.mobile-menu input[type=checkbox]{
	    display: none;
	}

	.mobile-menu input[type=checkbox]:checked ~ .menu-ul{
	    display: block;
	    width: 100%;
	    position: absolute;
	}

	.mobile-menu .lines {
	    border-bottom: 15px double #f8f8f8; 
	    border-top: 5px solid #f8f8f8; 
	    content:"";
	    height: 5px; 
	    width:20px;
	    padding-right:15px;
	    float: left;
	}

	.mobile-menu ul {
		position: static;
		display: none;
	}

	.mobile-menu ul li, .mobile-menu li a {
		width: 100%;
	}

	.mobile-menu .show-menu {
		display:block;
	}

	nav.full-menu {
		display: none;
	}

}
